/*
	@theme Python Placeholder Theme
	@override-placeholders html, xml, sourcecode.js
*/

@base {
  color: #fcfcfe;
	background-color: #10100f;
	insertion-point-color: #ac0ef3;
	selection-background-color: default;
}

tag, source, sourcecode {
    spell-check: disabled;
}

variable.name {
    color: #7B797C;
}

support.module {
    color: #3B3A36;
}

function.python {
    color: #9D9D9F;
}

storage.type.function {
    color: #004D77;
}

name {
  color: #658323;
}

punctuation.definition.parameters.begin {
  color: #93CCE0;
}

variable.parameter {
  color: #83878A;
}

constant.numeric {
  color: #726E6D;
}

string.quoted.single {
  color: #A6B4CE;
}

string.quoted.double {
  color: #A6B4CE;
}

comment {
  color: #4C4A4B;
}

keyword.control {
  color: #A6B4CE;
}

keyword.operator {
  color: #598633;
}

constant.language.boolean.true {
  color: #D9EBC5;
}

constant.language.boolean.false {
  color: #394269;
}

constant.language.null {
  color: #9099A0;
}

variable.language {
  color: #4D6088;
}

support.class {
  color: #83776B;
}

keyword.operator {
  color: #ADC4D2;
}

constant.language {
  color: #9EB6BA;
}

string.regexp.python {
  color: #4E59A8;
}

punctuation.definition.string {
  color: #FFAF82;
}

constant.character.escape {
  color: #3D1B8B;
}

punctuation.terminator {
  color: #AB32BF;
}

meta.delimiter {
  color: #EFF0F4;
}

meta.brace {
  color: #E1C093;
}